<div class="container">
  <div class="row">
    <div class="col s12 blue-grey lighten-4">
      <h1 class="center-align">Soma de Produtos</h1>
      <div class="row">
        <div class="col s12">
          <form>
            <div>
              <label class="black-text">Valor Total</label>
              <input type="text" readonly>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <button class="btn btn-block waves-effect waves-light">Lanche R$ 5,00</button>
    </div>
    <div class="col s4">
      <button class="btn btn-block waves-effect waves-light">Bebida R$4,00</button>
    </div>
    <div class="col s4">
      <button class="btn btn-block waves-effect waves-light">Sobremesa R$3,00</button>
    </div>
  </div>
</div>
