<div class="container">
  <div class="row">
    <div class="col s12 blue-grey lighten-4">
      <h1 class="center-align">Soma de Produtos</h1>
      <div class="row">
        <div class="col s12">
          <form>
            <div>
              <label class="black-text">Valor Total</label>
              <input type="text" readonly [value]="pegaValor">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <button
        class="btn btn-block waves-effect waves-light blue-grey darken-3"
        (click)="calcula(5)"
        >
        Lanche R$ 5,00
        </button>
    </div>
    <div class="col s4">
      <button
        class="btn btn-block waves-effect waves-light blue-grey darken-3"
        (click)="calcula(4)"
        >
        Bebida R$4,00
        </button>
    </div>
    <div class="col s4">
      <button
        class="btn btn-block waves-effect waves-light blue-grey darken-3"
        (click)="calcula(3)"
        >
        Sobremesa R$3,00
        </button>
    </div>
  </div>
</div>
